<div class="container mt-3">

  <div class="row mt-3 ml-5">
    <h4 class="bg-light">商品詳細</h4>
  </div>

  <div class="row my-5">
    <div class="col-md-3 mx-3">
      <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "NoImage_stuff.jpg",size: "250x180" %>
    </div>

    <div class="col-md-8">
      <table class="table table-borderless table-sm">
        <tr>
          <th>商品名</th><td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th><td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</br>(税抜価格)</th><td><%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price %>)円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @item.is_active == true %>
              <p class="text-success mb-0">販売中</p>
            <% else %>
              <p class="text-muted">販売停止中</p>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="my-4 w-50 text-center">
        <%= link_to "編集する", edit_admin_item_path(@item), class: 'btn btn-success' %>
      </div>
    </div>
  </div>

</div>