<div class="container mt-3">

  <div class="row mt-3 ml-5">
    <h4 class="bg-light">商品詳細</h4>
  </div>

  <div class="row">
    <div class="col mx-2">
      <%= attachment_image_tag @item, :image, :fill, 50, 40, format: 'jpeg', fallback: "NoImage_stuff.jpg" %>
    </div>

    <div class="col">
      <table>
        <tr>
          <th>商品名</th><td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th><td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @item.genre_id %></td>
        </tr>
        <tr>
          <th>税込価格</br>(税抜価格)</th><td><%= @item.price %></td>
        </tr>
        <tr>
          <th>販売ステータス</th><td><%= @item.is_active %></td>
        </tr>
      </table>
      <div>
        <%= link_to "編集する", edit_admin_item_path(@item), class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>

</div>