<div class="container mt-3">

  <div class="row">
    <div class="top-introduction mx-auto my-3">
      <p class="bg-white py-2">ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>

  <div class="row my-2">
    <h3>新着商品</h3>
  </div>

  <div class="d-flex justify-content-start my-3">
    <% @items.each do |item| %>
    <div class="mx-2">
      <%= link_to item_path do %>
      <%= item.image %>
      <% end %>
      <p class="font-weight-bold my-2"><%= item.name %></p><br>
      <p class="font-weight-bold">￥<%= item.add_tax_price.to_s(:delimited) %></p>
    </div>
    <% end %>
  </div>

  <div class="text-right">
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>

</div>