<div class="container mt-3">

  <div class="row mt-3 ml-5">
    <h4 class="bg-light">注文履歴詳細</h4>
  </div>

  <div class="row my-3 ml-5">
    <table class="table w-auto ml-5">
      <tr>
        <th>購入者</th>
        <td>
          <%= link_to admin_customer_path(@order.id) %>
            <%= @order.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= @order.address %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <% form_with model: [:admin, @order], local:true do |f| %>
            <%= f.select :is_active, oprions_for_select(Order.is_actives) %>
            <%= f.submit "更新", class: 'btn btn-success btn-sm ml-2' %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row ml-5">
    <div class="col border-top border-bottom border-light">
      <table>
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item_id.name %></td>
            <td><%= order_item.price %></td>
            <td><%= order_item.amount %></td>
            <td></td>
            <td></td>
            <td><%= order_item.submit "更新" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="col pull-right d-flex align-items-end">
        <h6>商品合計</h6>
        <h6>送料</h6>
        <h6>請求金額合計</h6>
      </div>
    </div>


  </div>

</div>