<div class="container mt-3 w-100">

  <div class="row mt-3 ml-5">
    <h4 class="bg-light">ショッピングカート</h4>
    <div class="col text-right">
      <%= link_to "カートを空にする", item_cart_items_destroy_all_path(@cart_items), method: :delete, class: 'btn btn-sm btn-danger mr-3' %>
    </div>
  </div>

  <div class="w-75 mx-auto">

    <div class="my-3">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "NoImage_stuff.jpg",size: "50x40", class: "mr-2" %>
              <%= cart_item.item.name %>
            </td>
            <td class="text-center align-middle"><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td class="text-center align-middle">
              <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true do |f| %>
              <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], size: "10" %>
              <%= f.submit "変更", class: 'btn btn-sm btn-success' %>
              <% end %>
            </td>
            <td class="text-center align-middle"><%= cart_item.item_subtotal.to_s(:delimited) %></td>
            <td class="text-center align-middle"><%= link_to "削除する", "/items/#{cart_item.item_id}/cart_items/#{cart_item.id}", method: :patch, class: 'btn btn-danger btn-sm' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-md-9 my-2">
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      </div>

      <div class="col-md-3">
        <table class="table table-bordered my-2">
          <tr>
            <th class="bg-light">合計金額</th>
            <td><%= @total.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <div class="row my-5">
    <div class="mx-auto">
      <%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success' %>
    </div>
  </div>

</div>