<div class="container mt-3">

  <div class="row mt-3 ml-5">
    <h4 class="bg-light">注文情報確認</h4>
  </div>

  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "NoImage_stuff.jpg",size: "50x40", class: "mr-2" %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.item_subtotal.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <table class="table table-bordered">
        <tr>
          <th class="thead-light">送料</th>
          <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <th class="thead-light">商品合計</th>
          <td><%= @total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="thead-light">請求金額</th>
          <td><%= @total_fee.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="mt-3 ml-5">
    <div class="row">
      <h3>支払方法</h3>
      <p class="ml-5 mb-0"><%= @order.payment %></p>
    </div>
    <div class="row">
    <h3>お届け先</h3>
      <p class="ml-5 mb-0">
        〒<%= @order.postal_code%><%= @order.address %></br>
        <%= @order.name %>
      </p>
    </div>
  </div>

  <div class="row w-100">
    <div class="my-3 mx-auto">
      <%= form_with model: @order, url: orders_decide_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :total_fee, :value => @total_fee %>
        <%= f.hidden_field :payment %>
        <%= f.submit "注文を確定する", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>