<div class="container mt-3 w-75">

  <div class="row mt-3 ml-4">
    <h4 class="bg-light">ログイン</h4>
  </div>

  <div class="row mt-3 ml-5">
    <h6 class="bg-light">会員の方はこちらからログイン</h6>
  </div>

  <div class="row w-100 my-3">
    <%= form_with model: @customer, url: customers_sign_in_path, class: 'form-horizontal mx-auto', local: true do |f| %>

    <div class="form-group row">
      <label class="col-md-5 col-form-label">メールアドレス</label>
      <div class="col-md-7">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-5 col-form-label">パスワード</label>
      <div class="col-md-7">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="row mt-3 ml-5">
    <h6 class="bg-light">会員登録がお済みでない方</h6>
  </div>
  <div class="row my-3 ml-5 pl-5">
    <p class="pl-5"><%= link_to "こちら", customers_sign_up_path %>から新規登録を行ってください。</p>
  </div>

</div>