<div class="container mt-3 w-75">

  <div class="row mt-4 ml-5 h-auto d-flex align-items-end">
    <h2 class="mb-0">商品一覧</h2><p class="ml-2 mb-0">(全<%= @items.count %>件)</p>
  </div>

  <div class="d-flex flex-wrap my-3">
    <% @items.each do |item| %>
    <div class="mx-4 px-2">
      <%= link_to item_path(item.id) do %>
      <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "NoImage_stuff.jpg",size: "150x100" %>
      <% end %>
      <p class="font-weight-bold mt-3 mb-0"><%= item.name %></p>
      <p class="font-weight-bold mt-2">￥<%= item.add_tax_price.to_s(:delimited) %></p>
    </div>
    <% end %>
  </div>

  <div class="pagination my-2 justify-content-center">
    <%= paginate @items %>
  </div>

</div>