<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-info">
        <div class="container">
          <%= link_to "ながのCAKE", "/", class: 'navbar-brand font-weight-bold text-white' %>

          <% if admin_signed_in? %>
          <ul class="navbar-nav">
            <li><%= link_to "商品一覧", admin_items_path, class: 'nav-link btn btn-outline-dark btn-sm mx-2' %></li>
            <li><%= link_to "会員一覧", admin_customers_path, class: 'nav-link btn btn-outline-dark btn-sm mx-2' %></li>
            <li><%= link_to "注文履歴一覧", admin_path, class: 'nav-link btn btn-outline-dark btn-sm mx-2' %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link btn btn-outline-dark btn-sm mx-2' %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-dark btn-sm mx-2' %></li>
          </ul>
          <% elsif customer_signed_in? %>
          <ul class="navbar-nav">
            <li><%= link_to "マイページ", customers_my_page_path, class: 'nav-link btn btn-light mx-2' %></li>
            <li><%= link_to "商品一覧", items_path, class: 'nav-link btn btn-light mx-2' %></li>
            <li><%= link_to "カート", cart_items_path, class: 'nav-link btn btn-light mx-2' %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-light mx-2' %></li>
          </ul>
          <% else %>
          <ul class="navbar-nav">
            <li><%= link_to "About", about_path, class: 'nav-link btn btn-sm btn-light mx-2' %></li>
            <li><%= link_to "商品一覧", items_path, class: 'nav-link btn btn-sm btn-light mx-2' %></li>
            <li><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link btn btn-sm btn-light mx-2' %></li>
            <li><%= link_to "ログイン", new_customer_session_path, class: 'nav-link btn btn-sm btn-light mx-2' %></li>
          </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="bg-info pt-5 mt-auto w-100">
      <div class="container">
      </div>
    </footer>

  </body>

</html>
